@{
    ViewData["Title"] = "Home Page";
}
    <body background="https://images.unsplash.com/photo-1541682278521-2b1e654eb70b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80" alt="Not Found">
        </body>
        <div class="text-left">
            <h1 class="display-4">Welcome to Super Hero fan Club!</h1>

            <p class="align-content-xl-center"><a href="Home\Hero\Create.cshtml">Add a Hero</a></p>
            <p class="align-content-xl-center">Head to <a href="Views\Hero\Index.cshtml">Hero Registry</a></p>
        </div>
